@charset "UTF-8";
:root {
  --c1: #fff;
  --c2: #404040;
  --c3: #e73243;
  --c4: #e4192c;
  --f13: 0.8125rem;
  --f12: 0.75rem;
  --f14: 0.875rem;
  --f15: 0.9375rem;
  --f16: 1rem;
  --f17: 1.0625rem;
  --f18: 1.125rem;
  --f20: 1.25rem;
  --f22: 1.375rem;
  --f23: 1.4375rem;
  --f40: 2.5rem;
  --f58: 3.625rem;
  --f89: 5.5625rem;
}
@media (max-width: 990px) {
  :root {
    --f58: 2.75rem;
    --f20: 1.125rem;
    --f40: 2.125rem;
  }
}
@media (max-width: 900px) {
  :root {
    --f89: 2.75rem;
  }
}

@font-face {
  font-family: Manrope;
  font-display: swap;
  src: url("../fonts/Manrope-Bold.woff2") format("woff2"), url("../fonts/Manrope-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Manrope;
  font-display: swap;
  src: url("../fonts/Manrope-Medium.woff2") format("woff2"), url("../fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Manrope;
  font-display: swap;
  src: url("../fonts/Manrope-Regular.woff2") format("woff2"), url("../fonts/Manrope-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Manrope";
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Manrope";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 74rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.request {
  font-size: var(--f15);
  letter-spacing: -0.15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid #e73243;
  text-align: center;
  line-height: 18px;
  white-space: nowrap;
  height: 38px;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .request:hover {
    color: #fff;
    background-color: #e73243;
  }
}

.request-two {
  font-size: var(--f15);
  letter-spacing: -0.15px;
  font-weight: 500;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid var(--c4);
  background-color: var(--c4);
  text-align: center;
  line-height: 18px;
  white-space: nowrap;
  height: 54px;
  width: 100%;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .request-two:hover {
    color: var(--c4);
    background-color: var(--c1);
  }
}

.header {
  padding-left: 40px;
  padding-right: 40px;
}
.header__cont {
  max-width: 1920px;
  margin: 0 auto;
}
.header__body {
  display: flex;
  align-items: center;
  min-height: 95px;
}
.header__logo-dongfeng {
  margin-right: 86px;
}
.header__logo-dongfeng img {
  max-width: 163px;
}
@media (max-width: 990px) {
  .header__logo-dongfeng {
    margin-right: 25px;
  }
}
@media (max-width: 490px) {
  .header__logo-dongfeng {
    position: relative;
    z-index: 110;
  }
}
.header__menu {
  margin-right: 111px;
  max-width: 884px;
  width: 100%;
}
.header__info {
  max-width: 596px;
  display: flex;
  align-items: center;
}
@media (max-width: 1919px) {
  .header__info {
    margin-right: 15px;
    justify-content: flex-end;
    margin-left: auto;
  }
}
@media (max-width: 990px) {
  .header__info {
    max-width: 100%;
  }
}
.header__logo-orion {
  margin-right: 24px;
}
.header__logo-orion img {
  max-width: 126px;
}
@media (max-width: 990px) {
  .header__logo-orion {
    margin-bottom: 14px;
    margin-right: 0;
  }
}
.header__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 43px;
}
@media (max-width: 770px) {
  .header__contacts {
    margin-right: 0;
    align-items: center;
    flex-direction: column-reverse;
    padding-top: 14px;
  }
}
.header__phone {
  font-size: var(--f22);
  font-weight: 600;
  letter-spacing: -0.22px;
  margin-bottom: 5px;
}
@media (any-hover: hover) {
  .header__phone:hover {
    text-decoration: underline;
  }
}
@media (max-width: 770px) {
  .header__phone {
    padding-top: 14px;
  }
}
.header__loc {
  font-size: var(--f14);
  letter-spacing: -0.675px;
  white-space: nowrap;
}
.header__request {
  padding: 7px 30px;
  max-width: 184px;
}
@media (max-width: 490px) {
  .header__request {
    margin: 0 auto;
    margin-top: 14px;
  }
}

@media (max-width: 1919px) {
  .menu {
    position: fixed;
    z-index: 100;
    top: 0;
    right: -100%;
    max-width: 360px;
    width: 100%;
    height: auto;
    transition: all 0.3s ease 0s;
    background: #f7f7f7;
    padding-top: 116px;
    padding-bottom: 70px;
    margin-right: 0;
    overflow: hidden;
  }
  .menu::after {
    content: "";
    position: fixed;
    top: 0;
    right: -100%;
    max-width: 360px;
    width: 100%;
    min-height: 80px;
    background: #f7f7f7;
    transition: all 0.3s ease 0s;
    z-index: 110;
  }
  .menu-open .menu {
    right: 0;
    overflow: auto;
  }
  .menu-open .menu::after {
    right: 0;
  }
}
@media (max-width: 47.99875em) {
  .menu {
    height: 100%;
  }
}
@media (max-width: 490px) {
  .menu {
    max-width: 100%;
  }
}
.menu__body {
  text-align: center;
}
.menu__list {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1919px) {
  .menu__list {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 990px) {
  .menu__list {
    margin-bottom: 70px;
  }
}
.menu__item {
  margin-right: 15px;
}
.menu__item:last-child {
  margin-right: 0px;
}
@media (max-width: 1919px) {
  .menu__item {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .menu__item:last-child {
    margin-bottom: 0px;
  }
}
.menu__link {
  font-size: var(--f16);
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.96px;
}
@media (any-hover: hover) {
  .menu__link:hover {
    text-decoration: underline;
  }
}
.icon-menu {
  display: none;
}
@media (max-width: 1919px) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 115;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: var(--c4);
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}

.footer {
  padding-top: 33px;
  padding-bottom: 33px;
  background-color: var(--c2);
}
.footer__body {
  color: var(--c1);
  font-size: var(--f15);
  line-height: 115%;
  letter-spacing: -0.45px;
}

.about {
  margin-bottom: 104px;
  position: relative;
}
@media (max-width: 47.99875em) {
  .about {
    margin-bottom: 60px;
  }
}
@media (max-width: 29.99875em) {
  .about {
    margin-bottom: 46px;
  }
}
.about__body {
  padding-top: 120px;
  padding-bottom: 62px;
  position: relative;
}
@media (max-width: 1280px) {
  .about__body {
    padding-top: 90px;
    padding-bottom: 0;
  }
}
@media (max-width: 630px) {
  .about__body {
    padding-top: 60px;
  }
}
@media (max-width: 29.99875em) {
  .about__body {
    padding-top: 29px;
  }
}
.about__label {
  font-size: var(--f20);
  font-weight: 500;
  letter-spacing: 0.4px;
  color: var(--c2);
  margin-bottom: 25px;
}
.about__title {
  max-width: 455px;
  padding-top: 17px;
  padding-bottom: 23px;
  margin-bottom: 23px;
  font-size: var(--f58);
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 1.16px;
  color: var(--c1);
  position: relative;
}
.about__title::after {
  content: "";
  position: absolute;
  top: 0;
  left: -200%;
  width: 1000%;
  height: 100%;
  background-color: #404040;
  z-index: -1;
}
@media (max-width: 630px) {
  .about__title {
    margin-bottom: 187px;
    letter-spacing: 0;
  }
}
.about__text {
  max-width: 428px;
  font-size: var(--f20);
  font-weight: 500;
  line-height: 137.966%;
  letter-spacing: 0.2px;
  margin-bottom: 30px;
}
.about__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  margin-top: -7px;
  max-width: 460px;
}
.about__item {
  flex: 0 1 230px;
  padding: 0 10px;
  padding-top: 7px;
}
.about__elem {
  display: flex;
}
.about__img {
  margin-right: 14px;
}
.about__img img {
  width: 30px;
  height: 30px;
}
.about__name {
  font-size: var(--f15);
  line-height: 120%;
  letter-spacing: 0.525px;
}
.about__background {
  position: absolute;
  bottom: 0;
  right: 0;
}
.about__background img {
  max-width: 100%;
}
@media (max-width: 1880px) {
  .about__background img {
    max-width: 1000px;
  }
}
@media (max-width: 1550px) {
  .about__background img {
    max-width: 800px;
  }
}
@media (max-width: 1280px) {
  .about__background img {
    max-width: 600px;
  }
}
@media (max-width: 730px) {
  .about__background img {
    max-width: 400px;
  }
}
@media (max-width: 1880px) {
  .about__background {
    bottom: 46px;
  }
}
@media (max-width: 1550px) {
  .about__background {
    bottom: 97px;
  }
}
@media (max-width: 1280px) {
  .about__background {
    bottom: 84px;
  }
}
@media (max-width: 990px) {
  .about__background {
    right: auto;
    left: 385px;
  }
}
@media (max-width: 730px) {
  .about__background {
    bottom: 135px;
    left: 400px;
  }
}
@media (max-width: 630px) {
  .about__background {
    left: auto;
    bottom: auto;
    top: 340px;
    display: none;
  }
}
.about__background2 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.about__background2 img {
  max-width: 614px;
}
@media (min-width: 630px) {
  .about__background2 {
    display: none;
  }
}
@media (max-width: 630px) {
  .about__background2 {
    left: 0;
    bottom: auto;
    top: 250px;
  }
}
@media (max-width: 29.99875em) {
  .about__background2 {
    top: 217px;
  }
}
@media (max-width: 387px) {
  .about__background2 {
    top: 236px;
  }
}

.service {
  margin-bottom: 144px;
}
@media (max-width: 47.99875em) {
  .service {
    margin-bottom: 60px;
  }
}
.service__van {
  position: relative;
  padding-top: 84px;
  margin-bottom: 174px;
}
@media (max-width: 1500px) {
  .service__van {
    padding-top: 0;
  }
}
@media (max-width: 61.99875em) {
  .service__van {
    margin-bottom: 120px;
  }
}
@media (max-width: 47.99875em) {
  .service__van {
    margin-bottom: 60px;
  }
}
.service__name {
  font-size: var(--f20);
  font-weight: 500;
  margin-bottom: 10px;
}
.service__box {
  padding-top: 21px;
  padding-bottom: 29px;
  margin-bottom: 23px;
  position: relative;
  color: #fff;
}
.service__box::after {
  content: "";
  position: absolute;
  top: 0;
  left: -200%;
  width: 1000%;
  height: 100%;
  background-color: #404040;
  z-index: -1;
}
@media (max-width: 880px) {
  .service__box::after {
    height: 152px;
  }
}
@media (max-width: 880px) {
  .service__box {
    margin-bottom: 33px;
    padding-bottom: 0;
  }
}
.service__title {
  font-size: var(--f40);
  font-weight: 700;
  margin-bottom: 16px;
  line-height: 110%;
  letter-spacing: 1.2px;
}
@media (max-width: 880px) {
  .service__title {
    margin-bottom: 196px;
  }
  .service__title span {
    display: block;
    padding-top: 5px;
  }
  .service__title_m {
    margin-bottom: 89px;
  }
}
.service__text {
  font-size: var(--f15);
  line-height: 140%;
  letter-spacing: 0.525px;
  opacity: 0.6;
  max-width: 400px;
}
@media (max-width: 880px) {
  .service__text {
    color: var(--c2);
  }
}
.service__button {
  max-width: 162px;
  margin-bottom: 68px;
}
@media (max-width: 1090px) {
  .service__button {
    margin-bottom: 0;
  }
}
@media (max-width: 1090px) {
  .service__inner {
    max-width: 892px;
    margin: 0 auto;
  }
}
@media (max-width: 905px) {
  .service__inner {
    max-width: 568px;
  }
}
.service__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -20px;
  margin-top: -60px;
}
@media (max-width: 1090px) {
  .service__list {
    justify-content: flex-start;
  }
}
@media (max-width: 29.99875em) {
  .service__list {
    margin: 0 -10px;
    margin-top: -50px;
  }
}
.service__item {
  padding: 0 20px;
  padding-top: 60px;
}
@media (max-width: 1090px) {
  .service__item {
    flex: 0 1 304px;
  }
}
@media (max-width: 600px) {
  .service__item {
    flex: 0 1 50%;
  }
}
@media (max-width: 29.99875em) {
  .service__item {
    padding: 0 10px;
    padding-top: 50px;
  }
}
@media (any-hover: hover) {
  .service__elem:hover .service__name-car {
    text-decoration: underline;
  }
}
.service__image {
  margin-bottom: 10px;
}
.service__image img {
  max-width: 100%;
}
@media (max-width: 1090px) {
  .service__image {
    position: relative;
    padding: 0px 0px 67% 0px;
    margin-bottom: 10px;
  }
  .service__image img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}
.service__name-car {
  font-size: var(--f20);
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 8px;
  max-width: 335px;
}
@media (max-width: 29.99875em) {
  .service__name-car {
    font-size: var(--f16);
    line-height: 18px;
  }
}
.service__name-base {
  font-size: var(--f15);
  line-height: 120%;
  letter-spacing: 0.525px;
}
.service__chassis {
  position: relative;
}
.service__background {
  position: absolute;
  top: 0;
  right: 0;
}
.service__background img {
  max-width: 100%;
}
@media (max-width: 1150px) {
  .service__background img {
    max-width: 600px;
  }
}
@media (max-width: 61.99875em) {
  .service__background img {
    max-width: 500px;
  }
}
@media (max-width: 880px) {
  .service__background img {
    max-width: 360px !important;
  }
}
@media (max-width: 1500px) {
  .service__background {
    top: -90px;
  }
}
@media (max-width: 1150px) {
  .service__background {
    top: -62px;
  }
}
@media (max-width: 61.99875em) {
  .service__background {
    top: -48px;
  }
}
@media (max-width: 880px) {
  .service__background {
    right: auto;
    top: 130px !important;
    left: -50px;
  }
}
.service__background2 {
  position: absolute;
  top: 5px;
  right: 0;
}
.service__background2 img {
  max-width: 100%;
}
@media (max-width: 1150px) {
  .service__background2 img {
    max-width: 600px;
  }
}
@media (max-width: 61.99875em) {
  .service__background2 img {
    max-width: 500px;
  }
}
@media (max-width: 880px) {
  .service__background2 img {
    max-width: 360px !important;
  }
}
@media (max-width: 1500px) {
  .service__background2 {
    top: 5px;
  }
}
@media (max-width: 1150px) {
  .service__background2 {
    top: 40px;
  }
}
@media (max-width: 61.99875em) {
  .service__background2 {
    top: 62px;
  }
}
@media (max-width: 880px) {
  .service__background2 {
    right: auto;
    top: 92px !important;
    left: -25px;
  }
}

.dealer-orion {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 57px;
  position: relative;
}
.dealer-orion::after {
  content: "";
  position: absolute;
  top: 0;
  left: -200%;
  width: 1000%;
  height: 100%;
  background-color: #404040;
  z-index: -1;
}
.dealer-orion__body {
  display: flex;
  align-items: center;
  color: #fff;
}
@media (max-width: 810px) {
  .dealer-orion__body {
    flex-direction: column;
    align-items: flex-start;
  }
}
.dealer-orion__inner {
  flex: 0 1 436px;
  margin-right: 75px;
}
@media (max-width: 61.99875em) {
  .dealer-orion__inner {
    margin-right: 25px;
  }
}
@media (max-width: 810px) {
  .dealer-orion__inner {
    flex: 0 1 auto;
    margin-right: 0;
    margin-bottom: 25px;
  }
}
@media (max-width: 29.99875em) {
  .dealer-orion__inner {
    margin-bottom: 10px;
  }
}
.dealer-orion__title {
  font-size: var(--f40);
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 1.2px;
  margin-bottom: 20px;
}
@media (max-width: 29.99875em) {
  .dealer-orion__title {
    margin-bottom: 10px;
  }
}
.dealer-orion__label {
  font-size: var(--f17);
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.17px;
}
.dealer-orion__content {
  flex: 0 1 590px;
  font-size: var(--f15);
  line-height: 140%;
}
@media (max-width: 810px) {
  .dealer-orion__content {
    flex: 0 1 auto;
  }
}

.news {
  margin-bottom: 80px;
}
@media (max-width: 29.99875em) {
  .news {
    margin-bottom: 70px;
  }
}
.news__main-title {
  font-size: var(--f40);
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 1.8px;
  margin-bottom: 60px;
}
@media (max-width: 47.99875em) {
  .news__main-title {
    margin-bottom: 33px;
    font-size: 30px;
  }
}
.news__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -30px;
  margin-top: -89px;
}
@media (max-width: 47.99875em) {
  .news__list {
    margin: 0 -15px;
    margin-top: -60px;
  }
}
@media (max-width: 29.99875em) {
  .news__list {
    margin-top: -20px;
  }
}
.news__item {
  flex: 0 1 50%;
  padding: 0 30px;
  padding-top: 89px;
  display: flex;
}
@media (max-width: 47.99875em) {
  .news__item {
    padding: 0 15px;
    padding-top: 60px;
  }
}
@media (max-width: 600px) {
  .news__item {
    flex: 1 1 100%;
  }
}
@media (max-width: 29.99875em) {
  .news__item {
    padding-top: 20px;
  }
}
@media (any-hover: hover) {
  .news__elem:hover .news__title {
    text-decoration: underline;
  }
}
.news__image {
  position: relative;
  padding: 0px 0px 56% 0px;
  margin-bottom: 18px;
}
.news__image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.news__title {
  font-size: var(--f23);
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.495px;
  margin-bottom: 12px;
}
.news__text {
  color: var(--c2);
  font-size: var(--f15);
  line-height: 145%;
  letter-spacing: -0.15px;
  margin-bottom: 12px;
}
.news__time {
  color: var(--c2);
  font-size: var(--f12);
  line-height: 145%;
  letter-spacing: 0.6px;
}

.contacts__container {
  position: relative;
}
.contacts__body {
  position: absolute;
  top: 121px;
  left: 0;
  z-index: 2;
  padding-top: 64px;
  padding-left: 60px;
  padding-bottom: 67px;
  padding-right: 60px;
  background: var(--c2);
  color: var(--c1);
}
.contacts__body::after {
  content: "";
  position: absolute;
  top: 0;
  left: -200%;
  width: 1000%;
  height: 100%;
  background-color: #404040;
  z-index: -1;
}
@media (min-width: 1550px) {
  .contacts__body::after {
    display: none;
  }
}
@media (max-width: 1550px) {
  .contacts__body {
    position: static;
  }
}
@media (max-width: 47.99875em) {
  .contacts__body {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.contacts__name {
  font-size: var(--f20);
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.4px;
  margin-bottom: 4px;
}
.contacts__label {
  font-size: var(--f18);
  line-height: 110%;
  letter-spacing: -0.54px;
  margin-bottom: 26px;
}
.contacts__phone {
  font-size: var(--f20);
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.2px;
  margin-bottom: 4px;
}
@media (any-hover: hover) {
  .contacts__phone:hover {
    text-decoration: underline;
  }
}
.contacts__loc {
  font-size: var(--f18);
  line-height: 110%;
  letter-spacing: -0.36px;
  margin-bottom: 4px;
}
.contacts__time {
  font-size: var(--f18);
  line-height: 110%;
  letter-spacing: -0.36px;
  margin-bottom: 18px;
}
.contacts__social {
  display: flex;
  align-items: center;
}
.contacts__social a {
  margin-right: 6px;
}
.contacts__social a:last-child {
  margin-right: 0px;
}
.contacts__map {
  position: relative;
  width: 100%;
  padding-top: 31.7%;
}
.contacts__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 47.99875em) {
  .contacts__map {
    padding-top: 70%;
  }
}
@media (max-width: 29.99875em) {
  .contacts__map {
    padding-top: 108%;
  }
}

.model-about {
  margin-bottom: 147px;
}
@media (max-width: 47.99875em) {
  .model-about {
    margin-bottom: 80px;
  }
}
@media (max-width: 29.99875em) {
  .model-about {
    margin-bottom: 30px;
  }
}
@media (min-width: 47.99875em) {
  .model-about__body {
    display: flex;
  }
}
.model-about__content {
  flex: 0 1 440px;
  padding-top: 77px;
  margin-right: 45px;
}
@media (max-width: 47.99875em) {
  .model-about__content {
    padding-top: 60px;
  }
}
.model-about__name {
  font-size: var(--f20);
  font-weight: 500;
  letter-spacing: 0.4px;
  margin-bottom: 22px;
}
.model-about__title {
  padding-top: 9px;
  padding-bottom: 23px;
  margin-bottom: 20px;
  color: var(--c1);
  font-size: var(--f89);
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 1.78px;
  position: relative;
}
.model-about__title::after {
  content: "";
  position: absolute;
  top: 0;
  left: -200%;
  width: 1000%;
  height: 100%;
  background-color: #404040;
  z-index: -1;
}
.model-about__title span {
  display: block;
}
.model-about__text {
  max-width: 420px;
  color: var(--c2);
  font-size: var(--f17);
  font-weight: 500;
  line-height: 145%;
  letter-spacing: 0.34px;
  margin-bottom: 32px;
}
@media (max-width: 29.99875em) {
  .model-about__text {
    font-size: var(--f18);
    color: inherit;
  }
}
.model-about__button {
  max-width: 263px;
}
.model-about__slider {
  flex: 0 1 633px;
}
@media (max-width: 1050px) {
  .model-about__slider {
    padding-top: 80px;
  }
}
@media (max-width: 47.99875em) {
  .model-about__slider {
    max-width: 500px;
    margin: 0 auto;
    padding-top: 12px;
  }
}

.splide__slide {
  position: relative;
  padding: 0px 0px 77% 0px;
}
.splide__slide img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.splide__arrows {
  padding-top: 68px;
  display: flex;
  justify-content: center;
}

.splide__arrow {
  position: static !important;
  opacity: 1 !important;
  margin-right: 40px;
}
.splide__arrow:last-child {
  margin-right: 0px;
}

.model-advantage {
  background-color: var(--c2);
}
@media (max-width: 1050px) {
  .model-advantage {
    margin-bottom: 40px;
  }
}
@media (max-width: 29.99875em) {
  .model-advantage {
    margin-bottom: 0;
  }
}
.model-advantage__body {
  color: var(--c1);
  padding-top: 38px;
  padding-bottom: 47px;
  display: flex;
}
@media (max-width: 650px) {
  .model-advantage__body {
    flex-direction: column-reverse;
    padding-bottom: 36px;
  }
}
.model-advantage__param {
  flex: 0 1 360px;
  margin-right: 94px;
}
@media (max-width: 810px) {
  .model-advantage__param {
    margin-right: 25px;
  }
}
@media (max-width: 650px) {
  .model-advantage__param {
    flex: 0 1 auto;
    margin: 0 auto;
    margin-right: 0;
  }
}
.model-advantage__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -25px;
  margin-top: -40px;
}
@media (max-width: 810px) {
  .model-advantage__list {
    margin: 0 -4px;
    margin-top: -18px;
  }
}
.model-advantage__item {
  display: flex;
  padding: 0 25px;
  padding-top: 40px;
  flex: 0 1 50%;
}
@media (max-width: 810px) {
  .model-advantage__item {
    padding: 0 4px;
    padding-top: 18px;
  }
}
.model-advantage__elem {
  display: flex;
  max-width: 165px;
  width: 100%;
}
.model-advantage__img {
  margin-right: 20px;
}
.model-advantage__img img {
  width: 38px;
  height: 38px;
}
.model-advantage__name {
  font-size: var(--f15);
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.15px;
  opacity: 0.6;
}
.model-advantage__text {
  flex: 0 1 700px;
  font-size: var(--f17);
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.17px;
}
@media (max-width: 1100px) {
  .model-advantage__text {
    flex: 0 1 400px;
  }
}
@media (max-width: 650px) {
  .model-advantage__text {
    flex: 0 1 auto;
    margin-bottom: 27px;
    line-height: 140%;
  }
}

.model-size {
  position: relative;
}
.model-size::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -200%;
  width: 1000%;
  height: 236px;
  background-color: #404040;
  z-index: -1;
}
@media (max-width: 1050px) {
  .model-size::after {
    bottom: auto;
    top: 250px;
    height: 350px;
  }
}
@media (max-width: 670px) {
  .model-size::after {
    height: 300px;
    top: 200px;
  }
}
@media (max-width: 554px) {
  .model-size::after {
    height: 250px;
    top: 150px;
  }
}
@media (max-width: 450px) {
  .model-size::after {
    height: 186px;
  }
}
.model-size__body {
  display: flex;
}
@media (max-width: 1050px) {
  .model-size__body {
    padding-bottom: 34px;
  }
}
.model-size__image {
  flex: 0 1 335px;
  margin-right: 105px;
}
.model-size__image img {
  max-width: 100%;
}
@media (max-width: 1050px) {
  .model-size__image {
    display: none;
  }
}
.model-size__image_m {
  display: none;
  text-align: center;
}
@media (max-width: 1050px) {
  .model-size__image_m {
    display: block;
  }
}
.model-size__image_m img {
  max-width: 100%;
}
@media (max-width: 450px) {
  .model-size__image_m img {
    max-width: 260px;
  }
}
.model-size__box {
  padding-top: 32px;
  flex: 0 1 744px;
}
@media (max-width: 1050px) {
  .model-size__box {
    flex: 0 1 auto;
  }
}
.model-size__image-two {
  margin-bottom: 29px;
}
.model-size__image-two img {
  max-width: 100%;
}
@media (max-width: 1050px) {
  .model-size__image-two {
    text-align: center;
  }
}
.model-size__text {
  padding-left: 14px;
  color: var(--c1);
  font-size: 17px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.17px;
}
@media (max-width: 1050px) {
  .model-size__text {
    color: var(--c2);
  }
}
@media (max-width: 47.99875em) {
  .model-size__text {
    font-weight: 400;
    font-size: var(--f15);
  }
}

.model-desc {
  padding-top: 114px;
  margin-bottom: 96px;
}
@media (max-width: 61.99875em) {
  .model-desc {
    padding-top: 60px;
  }
}
.model-desc__box-one {
  display: flex;
  margin-bottom: 171px;
}
@media (max-width: 47.99875em) {
  .model-desc__box-one {
    flex-direction: column-reverse;
    margin-bottom: 77px;
  }
}
.model-desc__text {
  color: var(--c2);
  font-size: var(--f17);
  font-weight: 500;
  line-height: 145%;
  letter-spacing: 0.34px;
}
.model-desc__text p {
  margin-bottom: 35px;
}
.model-desc__text p:last-child {
  margin-bottom: 0px;
}
.model-desc__text_m {
  padding-top: 34px;
  flex: 0 1 437px;
  margin-right: 77px;
}
@media (max-width: 61.99875em) {
  .model-desc__text_m {
    margin-right: 30px;
    padding-top: 0;
  }
}
@media (max-width: 47.99875em) {
  .model-desc__text_m {
    flex: 0 1 auto;
    margin-right: 0;
  }
}
.model-desc__text_mm {
  margin-bottom: 26px;
}
.model-desc__slider {
  flex: 0 1 670px;
}
@media (max-width: 47.99875em) {
  .model-desc__slider {
    flex: 0 1 auto;
    margin-bottom: 20px;
  }
}
.model-desc__box-two {
  display: flex;
}
@media (max-width: 47.99875em) {
  .model-desc__box-two {
    flex-direction: column;
  }
}
.model-desc__content {
  flex: 0 1 437px;
  margin-left: 77px;
}
@media (max-width: 61.99875em) {
  .model-desc__content {
    margin-left: 30px;
  }
}
@media (max-width: 47.99875em) {
  .model-desc__content {
    margin-left: 0;
    flex: 0 1 auto;
  }
}
.model-desc__label {
  padding-top: 21px;
  padding-bottom: 27px;
  color: var(--c1);
  font-size: var(--f17);
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.17px;
  position: relative;
}
.model-desc__label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -300%;
  width: 1000%;
  height: 100%;
  background-color: #404040;
  z-index: -1;
}
@media (max-width: 29.99875em) {
  .model-desc__label {
    padding-top: 9px;
    padding-bottom: 8px;
  }
  .model-desc__label span {
    display: block;
  }
}

.splide__slide {
  position: relative;
  padding: 0px 0px 66.5% 0px;
}
.splide__slide img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.splide__arrows {
  padding-top: 29px;
}
@media (max-width: 47.99875em) {
  .splide__arrows {
    padding-top: 39px;
  }
}
.model-param {
  background-color: var(--c2);
  padding-top: 85px;
  padding-bottom: 53px;
}
@media (max-width: 47.99875em) {
  .model-param {
    padding-top: 60px;
  }
}
@media (max-width: 29.99875em) {
  .model-param {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.model-param__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.model-param__inner:last-child {
  margin-bottom: 0px;
}
@media (max-width: 1150px) {
  .model-param__inner {
    max-width: 723px;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .model-param__inner:last-child {
    margin-bottom: 0px;
  }
}
@media (max-width: 47.99875em) {
  .model-param__inner {
    flex-direction: column;
    max-width: 354px;
    margin-bottom: 20px;
  }
}
.model-param__one {
  flex: 0 1 354px;
  margin-right: 15px;
}
@media (max-width: 47.99875em) {
  .model-param__one {
    flex: auto;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.model-param__title {
  color: var(--c1);
  font-size: var(--f20);
  font-weight: 700;
  letter-spacing: -0.6px;
  text-decoration-line: underline;
  margin-bottom: 8px;
}
.model-param__info {
  color: var(--c1);
  font-size: var(--f15);
  line-height: 135%;
  letter-spacing: -0.45px;
}
.model-param__info span {
  font-weight: 700;
}
.model-param__engine-block {
  flex: 0 1 354px;
}
@media (max-width: 47.99875em) {
  .model-param__engine-block {
    flex: auto;
    margin-bottom: 20px;
  }
}
.model-param__two {
  flex: 0 1 354px;
  margin-right: 15px;
}
@media (max-width: 1150px) {
  .model-param__two {
    margin-right: 0;
    margin-bottom: 50px;
  }
}
@media (max-width: 47.99875em) {
  .model-param__two {
    flex: auto;
    margin-bottom: 20px;
  }
}
.model-param__three {
  flex: 0 1 354px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1150px) {
  .model-param__three {
    flex-direction: row;
    flex: 0 1 auto;
    margin-right: 0;
  }
}
@media (max-width: 47.99875em) {
  .model-param__three {
    flex-direction: column;
    flex: 0 1 auto;
  }
}
@media (max-width: 1150px) {
  .model-param__brake-block {
    flex: 0 1 354px;
    margin-right: 15px;
  }
}
@media (max-width: 47.99875em) {
  .model-param__brake-block {
    margin-right: 0;
    flex: auto;
    margin-bottom: 20px;
  }
}
.model-param__cargo-block {
  margin-top: auto;
}
@media (max-width: 1150px) {
  .model-param__cargo-block {
    flex: 0 1 354px;
    margin-top: 0;
  }
}
@media (max-width: 47.99875em) {
  .model-param__cargo-block {
    flex: auto;
  }
}
.model-param__tires-block {
  flex: 0 1 354px;
}
@media (max-width: 47.99875em) {
  .model-param__tires-block {
    flex: auto;
  }
}

.model-variant {
  margin-top: -138px;
}
@media (max-width: 1700px) {
  .model-variant {
    margin-top: 0;
    padding-bottom: 60px;
  }
}
@media (min-width: 1100px) {
  .model-variant__body {
    display: flex;
  }
}
@media (max-width: 29.99875em) {
  .model-variant__body {
    padding-bottom: 240px;
  }
}
.model-variant__content {
  margin-right: 18px;
  padding-top: 186px;
  flex: 0 1 436px;
}
@media (max-width: 1700px) {
  .model-variant__content {
    padding-top: 60px;
    flex: 0 0 436px;
  }
}
.model-variant__text {
  margin-bottom: 33px;
  color: var(--c2);
  font-size: var(--f17);
  font-weight: 500;
  line-height: 145%;
  letter-spacing: 0.34px;
}
.model-variant__box {
  display: flex;
}
@media (max-width: 1100px) {
  .model-variant__box {
    justify-content: center;
  }
}
.model-variant__item {
  flex: 0 1 198px;
  margin-right: 40px;
  display: flex;
}
.model-variant__item:last-child {
  margin-right: 0px;
}
.model-variant__item img {
  width: 22px;
  height: 22px;
  margin-right: 20px;
}
.model-variant__item p {
  color: var(--c2);
  font-size: var(--f15);
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0.3px;
}
.model-variant__image {
  margin-right: -100%;
}
.model-variant__image img {
  max-width: 100%;
}
@media (max-width: 1700px) {
  .model-variant__image {
    margin-right: -50px;
  }
}
@media (max-width: 1100px) {
  .model-variant__image {
    margin-right: 0;
    text-align: center;
  }
}
@media (max-width: 29.99875em) {
  .model-variant__image {
    position: relative;
  }
  .model-variant__image img {
    position: absolute;
    bottom: 0;
    left: -10%;
    right: 10%;
    min-width: 500px;
    height: 210px;
    bottom: -240px;
  }
}
@media (max-width: 430px) {
  .model-variant__image img {
    left: -20% !important;
  }
}

.model-request {
  margin-top: -74px;
  padding-top: 92px;
  padding-bottom: 116px;
  background-color: var(--c2);
}
@media (max-width: 1700px) {
  .model-request {
    margin-top: 0;
  }
}
@media (max-width: 61.99875em) {
  .model-request {
    padding-top: 70px;
    padding-bottom: 90px;
  }
}
.model-request__title {
  margin-bottom: 27px;
  color: var(--c1);
  font-size: var(--f40);
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 1.2px;
}
@media (max-width: 47.99875em) {
  .model-request__title {
    font-size: 30px;
  }
}
.model-request__text {
  color: var(--c1);
  font-size: var(--f17);
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.17px;
  max-width: 972px;
  margin-bottom: 72px;
}
@media (min-width: 580px) {
  .model-request__form {
    display: flex;
  }
}
@media (min-width: 580px) and (max-width: 61.99875em) {
  .model-request__form {
    flex-wrap: wrap;
    max-width: 650px;
    margin: 0 auto;
  }
}
.model-request__form input {
  outline: none;
  max-width: 300px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  background-color: var(--c2);
  color: var(--c1);
  font-size: var(--f17);
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.17px;
}
.model-request__form input::placeholder {
  color: var(--c1);
  font-size: var(--f17);
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.17px;
  opacity: 0.6;
}
.model-request__item {
  flex: 0 1 300px;
  position: relative;
}
.model-request__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #969696;
  height: 1px;
  width: 100%;
}
@media (max-width: 580px) {
  .model-request__item {
    margin-bottom: 25px;
  }
}
.model-request__name {
  margin-right: 24px;
}
@media (max-width: 61.99875em) {
  .model-request__name {
    margin-bottom: 25px;
    flex: 0 1 45%;
  }
}
@media (max-width: 580px) {
  .model-request__name {
    flex: 0 1 300px;
    margin-right: 0;
  }
}
.model-request__phone {
  padding-left: 42px;
  margin-right: 24px;
  position: relative;
}
.model-request__phone button {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 25px;
}
.model-request__phone button img {
  max-width: 100%;
}
.model-request__phone button img:nth-child(2) {
  padding-top: 5px;
}
.model-request__phone::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #969696;
  height: 1px;
  width: 100%;
}
@media (max-width: 61.99875em) {
  .model-request__phone {
    margin-bottom: 25px;
    flex: 0 1 45%;
  }
}
@media (max-width: 580px) {
  .model-request__phone {
    flex: 0 1 300px;
    margin-right: 0;
  }
}
.model-request__mail {
  margin-right: 24px;
}
@media (max-width: 61.99875em) {
  .model-request__mail {
    flex: 0 1 45%;
  }
}
@media (max-width: 580px) {
  .model-request__mail {
    flex: 0 1 300px;
    margin-right: 0;
  }
}
.model-request__button {
  max-width: 214px;
  width: 100%;
  height: 64px;
  color: var(--c1);
  font-size: var(--f17);
  font-weight: 500;
  line-height: 145%;
  letter-spacing: -0.17px;
  border: 1px solid var(--c4);
}
@media (any-hover: hover) {
  .model-request__button:hover {
    border: 1px solid var(--c4);
  }
}
@media (max-width: 61.99875em) {
  .model-request__button {
    flex: 0 1 45%;
  }
}
@media (max-width: 580px) {
  .model-request__button {
    max-width: 320px;
    margin: 0 auto;
  }
}
.splide__container {
  box-sizing: border-box;
  position: relative;
}

.splide__list {
  backface-visibility: hidden;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.splide.is-initialized:not(.is-active) .splide__list {
  display: block;
}

.splide__pagination {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  pointer-events: none;
}

.splide__pagination li {
  display: inline-block;
  line-height: 1;
  list-style-type: none;
  margin: 0;
  pointer-events: auto;
}

.splide:not(.is-overflow) .splide__pagination {
  display: none;
}

.splide__progress__bar {
  width: 0;
}

.splide {
  position: relative;
  visibility: hidden;
}

.splide.is-initialized, .splide.is-rendered {
  visibility: visible;
}

.splide__slide {
  backface-visibility: hidden;
  box-sizing: border-box;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  list-style-type: none !important;
  margin: 0;
  position: relative;
}

.splide__slide img {
  vertical-align: bottom;
}

.splide__spinner {
  animation: splide-loading 1s linear infinite;
  border: 2px solid #999;
  border-left-color: transparent;
  border-radius: 50%;
  bottom: 0;
  contain: strict;
  display: inline-block;
  height: 20px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
}

.splide__sr {
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.splide__toggle.is-active .splide__toggle__play, .splide__toggle__pause {
  display: none;
}

.splide__toggle.is-active .splide__toggle__pause {
  display: inline;
}

.splide__track {
  overflow: hidden;
  position: relative;
  z-index: 0;
}

@keyframes splide-loading {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
.splide__track--draggable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.splide__track--fade > .splide__list > .splide__slide {
  margin: 0 !important;
  opacity: 0;
  z-index: 0;
}

.splide__track--fade > .splide__list > .splide__slide.is-active {
  opacity: 1;
  z-index: 1;
}

.splide--rtl {
  direction: rtl;
}

.splide__track--ttb > .splide__list {
  display: block;
}

.splide__arrow {
  -ms-flex-align: center;
  align-items: center;
  background: #ccc;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  height: 2em;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0.7;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2em;
  z-index: 1;
}

.splide__arrow svg {
  fill: #000;
  height: 1.2em;
  width: 1.2em;
}

.splide__arrow:hover:not(:disabled) {
  opacity: 0.9;
}

.splide__arrow:disabled {
  opacity: 0.3;
}

.splide__arrow:focus-visible {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}

.splide__arrow--prev {
  left: 1em;
}

.splide__arrow--prev svg {
  transform: scaleX(-1);
}

.splide__arrow--next {
  right: 1em;
}

.splide.is-focus-in .splide__arrow:focus {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}

.splide__pagination {
  bottom: 0.5em;
  left: 0;
  padding: 0 1em;
  position: absolute;
  right: 0;
  z-index: 1;
}

.splide__pagination__page {
  background: #ccc;
  border: 0;
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  margin: 3px;
  opacity: 0.7;
  padding: 0;
  position: relative;
  transition: transform 0.2s linear;
  width: 8px;
}

.splide__pagination__page.is-active {
  background: #fff;
  transform: scale(1.4);
  z-index: 1;
}

.splide__pagination__page:hover {
  cursor: pointer;
  opacity: 0.9;
}

.splide__pagination__page:focus-visible {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}

.splide.is-focus-in .splide__pagination__page:focus {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}

.splide__progress__bar {
  background: #ccc;
  height: 3px;
}

.splide__slide {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.splide__slide:focus {
  outline: 0;
}

@supports (outline-offset: -3px) {
  .splide__slide:focus-visible {
    outline: 3px solid #0bf;
    outline-offset: -3px;
  }
}
@media screen and (-ms-high-contrast: none) {
  .splide__slide:focus-visible {
    border: 3px solid #0bf;
  }
}
@supports (outline-offset: -3px) {
  .splide.is-focus-in .splide__slide:focus {
    outline: 3px solid #0bf;
    outline-offset: -3px;
  }
}
@media screen and (-ms-high-contrast: none) {
  .splide.is-focus-in .splide__slide:focus {
    border: 3px solid #0bf;
  }

  .splide.is-focus-in .splide__track > .splide__list > .splide__slide:focus {
    border-color: #0bf;
  }
}
.splide__toggle {
  cursor: pointer;
}

.splide__toggle:focus-visible {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}

.splide.is-focus-in .splide__toggle:focus {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}

.splide__track--nav > .splide__list > .splide__slide {
  border: 3px solid transparent;
  cursor: pointer;
}

.splide__track--nav > .splide__list > .splide__slide.is-active {
  border: 3px solid #000;
}

.splide__arrows--rtl .splide__arrow--prev {
  left: auto;
  right: 1em;
}

.splide__arrows--rtl .splide__arrow--prev svg {
  transform: scaleX(1);
}

.splide__arrows--rtl .splide__arrow--next {
  left: 1em;
  right: auto;
}

.splide__arrows--rtl .splide__arrow--next svg {
  transform: scaleX(-1);
}

.splide__arrows--ttb .splide__arrow {
  left: 50%;
  transform: translate(-50%);
}

.splide__arrows--ttb .splide__arrow--prev {
  top: 1em;
}

.splide__arrows--ttb .splide__arrow--prev svg {
  transform: rotate(-90deg);
}

.splide__arrows--ttb .splide__arrow--next {
  bottom: 1em;
  top: auto;
}

.splide__arrows--ttb .splide__arrow--next svg {
  transform: rotate(90deg);
}

.splide__pagination--ttb {
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  left: auto;
  padding: 1em 0;
  right: 0.5em;
  top: 0;
}
